@import '../../css/colors.scss';

.board {
  padding: 1.875rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  cursor: pointer;

  &-area {
    position: relative;
    min-height: 300px;
    height: calc(100vh - 3.75rem);
    background-color: $white;
    border-radius: .5rem;
    box-shadow: -0.3125rem 0.3125rem rgba($black, .1);
    overflow: hidden;
  }

  &-draggable {
    cursor: move;
  }
}

.btn.btn-custom {
  position: absolute;
  bottom: 0.9375rem;
  right: 0.9375rem;
  float: right;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  color: $brown;
  background-color: $yellow;

  &:hover,
  &:focus {
    color: $brown;
  }
}
