@import '../../css/colors.scss';

.app {
  background-image: linear-gradient(to top, $green 0%, $yellow-2 100%);

  &-column {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  &-side {
    padding: 1.5625rem;
    height: calc(100vh);
    background-color: $white;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  &-title {
    margin: 0 0 1rem 0;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1;
    color: $brown;
  }

  &-content,
  &-blockquote {
    font-size: 0.875rem;
    line-height: 1.5;
    color: $brown;
  }

  &-blockquote {
    padding: 0.625rem 0 0.625rem 0.9375rem;
    margin-bottom: 0.9375rem;
    font-size: 0.875rem;
  }

  &-content + &-content {
    margin: 0.9375rem 0 0;
  }
}
